{% load static %}

<section class="tm-featured-wrapper">
    <div class="container-bestsellers" data-image-src="{% static 'deps/images/bg-image-bestsellers.jpg' %}">
        <h2 class="text-center tm-section-title">Гровери найчастіше обирають</h2>
        <div class="tm-featured-carousel">
            {% for product in bestsellers %}
            <div class="tm-carousel-item">
                <a href="{{ product.get_absolute_url }}" class="tm-product-link">
                    <div class="tm-product-card">
                        <div class="tm-card-image-wrap">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="tm-card-img"/>
                        </div>
                        <div class="tm-card-info">
                            <h5 class="tm-card-title">{{ product.name }}</h5>
                            <p class="tm-card-price">{{ product.price }}₴</p>
                        </div>
                        <button class="add-to-cart-btn" data-product-id="{{ product.id }}">
                            В корзину
                        </button>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
