{% load static %}


<section class="fantasy-news-slider-container">

    <div class="fantasy-news-slider">
        <div class="fantasy-slide active">
            <div class="fantasy-slide-text">
                <h2>🌿 Новинка! Волшебные грибы ускоренного роста</h2>
                <p>Экзотические виды, наполненные магией и вкусом. Вырастите свой собственный сказочный лес.</p>
                <a href="#" class="fantasy-btn">Подробнее</a>
            </div>
            <div class="fantasy-slide-image">
                <img src="{% static 'deps/images/mushroom1.png' %}" alt="Mushroom">
            </div>
        </div>

        <div class="fantasy-slide">
            <div class="fantasy-slide-text">
                <h2>🍄 Лесные деликатесы</h2>
                <p>Собраны вручную в туманных рощах. Дарят радость и вдохновение.</p>
                <a href="#" class="fantasy-btn">Подробнее</a>
            </div>
            <div class="fantasy-slide-image">
                <img src="{% static 'deps/images/mushroom2.png' %}" alt="Mushroom">
            </div>
        </div>

        <div class="fantasy-slider-controls"></div>
    </div>

</section>