{% extends "base.html" %}
{% load static %}
    <!-- Стиль footer-a для главной страницы -->
{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block modal_cart %}
{% include 'includes/cart_button.html' %}
{% endblock %}

{% block content %}
    <h2 class="mt-5 pt-5", style="color: crimson; font-family: 'Creepster', cursive; text-shadow: 15px 15px 20px red;"><strong>{{ content }} </strong></h2>
    <h1 class="mt-5 pt-5", style="color: crimson; font-family: 'Creepster', cursive; text-shadow: 15px 15px 20px red;"><strong>{{ text_on_page }} </strong></h1>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ZalupaINDUSTRIES 20228</p>
    </div>
</footer>
{% endblock %}