{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet"/>
    <link href="{% static 'deps/css/templatemo-style.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap" rel="stylesheet">
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

<div class="container">
    <!-- Top box -->
    <!-- Logo & Site Name -->
    <div class="placeholder">
        <div class="parallax-window" data-parallax="scroll"
             data-image-src="{% static 'deps/images/bg-image.jpg' %}">
            <div class="tm-header">
                <div class="row tm-header-inner">
                    <div class="col-md-6 col-12">
                        <img src="{% static 'deps/images/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo"/>
                        <div class="tm-site-text-box">
                            <h1 class="tm-site-title">Grownica</h1>
                            <h6 class="tm-site-description">Чарівний світ гровінгу</h6>
                        </div>
                    </div>
                    <nav class="col-md-6 col-12 tm-nav">
                        <ul class="tm-nav-ul">
                            <li class="tm-nav-li"><a href="home.html" class="tm-nav-link active">Home</a></li>
                            <li class="tm-nav-li"><a href="about.html" class="tm-nav-link">About</a></li>
                            <li class="tm-nav-li"><a href="contact.html" class="tm-nav-link">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <main>
        <header class="row tm-welcome-section">
            <h2 class="col-12 text-center tm-section-title">Welcome to Simple House</h2>
            <p class="col-12 text-center">
                Total 3 HTML pages are included in this template. Header image has a parallax
                effect. You can feel free to download, edit and use this TemplateMo layout for your commercial or
                non-commercial websites.
            </p>
        </header>

        <!-- Кнопки-переключатели категорий -->
        <div class="tm-paging-links">
            <nav>
                <ul>
                    {% for category in categories %}
                    <li class="tm-paging-item">
                        <a href="{% url 'catalog:index' category.slug %}" class="tm-paging-link">
                            <img src="{% static 'deps/icons/'|add:category.slug|add:'.png' %}"
                                 alt="{{ category.name }}" class="paging-icon"/>
                            <span class="paging-label">{{ category.name }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </main>


    <section class="tm-section tm-featured">
        <h2 class="text-center tm-section-title">Рекомендованные товары</h2>

        {# Карусель с первыми четырьмя #}
        <div class="tm-featured-carousel">
            {% for product in bestsellers %}
                    <div class="tm-carousel-item">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        <h5>{{ product.name }}</h5>
                        <p>{{ product.price }}₴</p>
                    </div>
            {% endfor %}
        </div>
    </section>


    <footer class="tm-footer text-center">
        <p>Copyright &copy; 2025 Grownica

            | Design: <a rel="nofollow" href="https://t.me/SenichSan">SenichSan</a></p>
    </footer>
</div>
<script src="{% static 'deps/js/jquery.min.js' %}"></script>
<script src="{% static 'deps/js/parallax.min.js' %}"></script>
</body>
</html>