{% extends "main/base.html" %}
{% load static %}
    <!-- Стиль footer-a для главной страницы -->
    {% block css %}
        <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
    {% endblock %}

{% block content %}
    <h1 class="mt-5 pt-5", style="color: crimson; font-family: 'Creepster', cursive; text-shadow: 15px 15px 20px red;"><strong>Магазин СМЕЕЕРТИИИ </strong></h1>
    <h1 class="mt-5 pt-5", style="color: crimson; font-family: 'Creepster', cursive; text-shadow: 5px 5px 10px red;"><strong>(смертельно)</strong></h1>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ZalupaINDUSTRIES 20228</p>
    </div>
</footer>
{% endblock %}